

.App {
  width: 56%;
  text-align: center;
  background-color: #074d81;
  color: white;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 10% auto;
}

.App-simulacion{
  background-color: #003b67;
  width: 85%;
  margin: 0 auto;
  padding: 30px;
}
.total span {
  border: 2px solid white;
  width: 175px;
  padding: 13px;
  float: right;
  font-size: 30px;
  font-weight: 800;
  display: inline-flex;
}
.minimo, .maximo {
  float: left;
  width: 50%;
}
.valormaximo{
  float: right;
  width: 20%;
    margin: 0;
}
.valorminimo {
  float: left;
  width: 20%;
  margin: 0;
}

.maximo-sec, .minimo-sec{
  margin: 0 auto;
  width: 80%;
}
label.titulo {
  float: left;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.rc-slider.slider {
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
}
.cuota-sec {
  width: 80%;
  padding: 12px;
  background-color: #00355d;
  margin: 0 auto;
  text-transform: uppercase;
}
.botones {
  width: 83%;
  margin: 0 auto;
  display: inline-flex;
  
}

button.credito, 
button.detalle{
  
  border: none;
  padding: 12px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;

}
button.credito {
  background-color: #17aa8d;
  font-size: 21px;
  width: 70%;
}
button.detalle {
    background-color: #0a538b;
    width: 30%;
    font-size: 18px;
}
input[type="number"] {
  background: none;
  border: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: inherit;
  width: 85%;
}
.cuota-sec h2 {
  font-weight: 400;
}
app-titulo{
font-size: 35px;
}